:host {
  display: block;
  width: 100%;
  padding: 16px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #bfbfbf;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
